<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.Charts.Core" version="22.1.5" targetFramework="net472" />
  <package id="DevExpress.CodeParser" version="22.1.5" targetFramework="net472" />
  <package id="DevExpress.Data" version="22.1.5" targetFramework="net472" />
  <package id="DevExpress.Data.Desktop" version="22.1.5" targetFramework="net472" />
  <package id="DevExpress.DataAccess" version="22.1.5" targetFramework="net472" />
  <package id="DevExpress.DataVisualization.Core" version="22.1.5" targetFramework="net472" />
  <package id="DevExpress.Drawing" version="22.1.5" targetFramework="net472" />
  <package id="DevExpress.Images" version="22.1.5" targetFramework="net472" />
  <package id="DevExpress.Mvvm" version="22.1.5" targetFramework="net472" />
  <package id="DevExpress.Office.Core" version="22.1.5" targetFramework="net472" />
  <package id="DevExpress.Pdf.Core" version="22.1.5" targetFramework="net472" />
  <package id="DevExpress.Pdf.Drawing" version="22.1.5" targetFramework="net472" />
  <package id="DevExpress.Printing.Core" version="22.1.5" targetFramework="net472" />
  <package id="DevExpress.RichEdit.Core" version="22.1.5" targetFramework="net472" />
  <package id="DevExpress.Sparkline.Core" version="22.1.5" targetFramework="net472" />
  <package id="DevExpress.Spreadsheet.Core" version="22.1.5" targetFramework="net472" />
  <package id="DevExpress.TreeMap.Core" version="22.1.5" targetFramework="net472" />
  <package id="DevExpress.Wpf.Charts" version="22.1.5" targetFramework="net472" />
  <package id="DevExpress.Wpf.Controls" version="22.1.5" targetFramework="net472" />
  <package id="DevExpress.Wpf.Core" version="22.1.5" targetFramework="net472" />
  <package id="DevExpress.Wpf.Docking" version="22.1.5" targetFramework="net472" />
  <package id="DevExpress.Wpf.DocumentViewer.Core" version="22.1.5" targetFramework="net472" />
  <package id="DevExpress.Wpf.Grid.Core" version="22.1.5" targetFramework="net472" />
  <package id="DevExpress.Wpf.LayoutControl" version="22.1.5" targetFramework="net472" />
  <package id="DevExpress.Wpf.NavBar" version="22.1.5" targetFramework="net472" />
  <package id="DevExpress.Wpf.Office" version="22.1.5" targetFramework="net472" />
  <package id="DevExpress.Wpf.Printing" version="22.1.5" targetFramework="net472" />
  <package id="DevExpress.Wpf.PropertyGrid" version="22.1.5" targetFramework="net472" />
  <package id="DevExpress.Wpf.Ribbon" version="22.1.5" targetFramework="net472" />
  <package id="DevExpress.Wpf.Spreadsheet" version="22.1.5" targetFramework="net472" />
  <package id="DevExpress.Wpf.Themes.Office2019Colorful" version="22.1.5" targetFramework="net472" />
  <package id="DevExpress.Wpf.TreeMap" version="22.1.5" targetFramework="net472" />
  <package id="DevExpress.Xpo" version="22.1.5" targetFramework="net472" />
  <package id="Geo" version="1.0.1" targetFramework="net472" />
  <package id="Measurements" version="1.2.3" targetFramework="net472" />
  <package id="System.ComponentModel.EventBasedAsync" version="4.3.0" targetFramework="net472" />
</packages>